<a href="https://colab.research.google.com/github/kurrnia/Dicoding/blob/main/Dicoding1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Latihan Konversi Pandas

In [1]:
import os
os.listdir('sample_data')

['README.md',
 'anscombe.json',
 'california_housing_train.csv',
 'mnist_test.csv',
 'california_housing_test.csv',
 'mnist_train_small.csv']

Import Library

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [7]:
df.head ()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [8]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

# Latihan SKLearn Train test Split

In [14]:
import sklearn
from sklearn import datasets

In [15]:
# load iris dataset
iris = datasets.load_iris()

In [16]:
# memisahkan atribut dan label pada iris dataset
x=iris.data
y=iris.target

In [17]:
from sklearn.model_selection import train_test_split

# membagi dataset menjadi training dan testing
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=1)

In [18]:
# menghitung penjang atau jumlah data pada x_test
len(x_test)

45

# Latihan SKLearn Cross Validation Split

karena proses import, proses load dataset dan proses memeisahkan atribut sudah dilakukan di atas maka saya langsung menuju pada proses decision tree

In [19]:
from sklearn import tree

# membuat model dengan decision trss classifier
clf = tree.DecisionTreeClassifier()

In [24]:
from sklearn.model_selection import cross_val_score

# mengevaluasi peforma model awal dengan cross_val_score
scores = cross_val_score(clf,x,y, cv=5)
scores

array([0.96666667, 0.96666667, 0.9       , 1.        , 1.        ])