<a href="https://colab.research.google.com/github/kurrnia/Dicoding/blob/main/dicoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Menggunakan Model untuk Melakukan Prediksi

In [ ]:
import tensorflow as tf
import numpy as np
from tensorflow import keras

In [ ]:
xs = np.array([1.0,  2.0, 3.0, 4.0, 5.0, 6.0], dtype=float)
ys = np.array([4.0, 6.0, 8.0, 10.0, 12.0, 14.0], dtype=float)

In [ ]:
model = tf.keras.Sequential([keras.layers.Dense(units=1, input_shape=[1]), keras.layers.Dense(units=8), keras.layers.Dense(units=1)])

In [ ]:
model.compile(optimizer='sgd', loss='mean_squared_error')

In [ ]:
model.fit(xs, ys, epochs=150)

Epoch 1/150
1/1 [==============================] - 0s 327ms/step - loss: 120.2007
Epoch 2/150
1/1 [==============================] - 0s 8ms/step - loss: 3.3187
Epoch 3/150
1/1 [==============================] - 0s 7ms/step - loss: 10.3262
Epoch 4/150
1/1 [==============================] - 0s 6ms/step - loss: 42.1519
Epoch 5/150
1/1 [==============================] - 0s 7ms/step - loss: 1.1450
Epoch 6/150
1/1 [==============================] - 0s 6ms/step - loss: 3.6978
Epoch 7/150
1/1 [==============================] - 0s 6ms/step - loss: 9.6565
Epoch 8/150
1/1 [==============================] - 0s 6ms/step - loss: 36.7771
Epoch 9/150
1/1 [==============================] - 0s 7ms/step - loss: 1.1608
Epoch 10/150
1/1 [==============================] - 0s 6ms/step - loss: 3.9118
Epoch 11/150
1/1 [==============================] - 0s 6ms/step - loss: 9.1869
Epoch 12/150
1/1 [==============================] - 0s 10ms/step - loss: 33.7679
Epoch 13/150
1/1 [==============================] - 0s 6ms/step - loss: 1.2913
Epoch 14/150
1/1 [==============================] - 0s 6ms/step - loss: 4.4636
Epoch 15/150
1/1 [==============================] - 0s 6ms/step - loss: 9.2974
Epoch 16/150
1/1 [==============================] - 0s 6ms/step - loss: 33.0139
Epoch 17/150
1/1 [==============================] - 0s 7ms/step - loss: 0.8379
Epoch 18/150
1/1 [==============================] - 0s 7ms/step - loss: 2.7566
Epoch 19/150
1/1 [==============================] - 0s 7ms/step - loss: 6.1899
Epoch 20/150
1/1 [==============================] - 0s 6ms/step - loss: 22.0237
Epoch 21/150
1/1 [==============================] - 0s 6ms/step - loss: 6.0045
Epoch 22/150
1/1 [==============================] - 0s 7ms/step - loss: 21.0097
Epoch 23/150
1/1 [==============================] - 0s 6ms/step - loss: 5.9819
Epoch 24/150
1/1 [==============================] - 0s 7ms/step - loss: 20.5689
Epoch 25/150
1/1 [==============================] - 0s 6ms/step - loss: 5.6366
Epoch 26/150
1/1 [==============================] - 0s 6ms/step - loss: 19.0846
Epoch 27/150
1/1 [==============================] - 0s 6ms/step - loss: 5.9691
Epoch 28/150
1/1 [==============================] - 0s 6ms/step - loss: 19.8344
Epoch 29/150
1/1 [==============================] - 0s 6ms/step - loss: 5.0002
Epoch 30/150
1/1 [==============================] - 0s 6ms/step - loss: 16.3998
Epoch 31/150
1/1 [==============================] - 0s 6ms/step - loss: 6.4402
Epoch 32/150
1/1 [==============================] - 0s 6ms/step - loss: 20.6530
Epoch 33/150
1/1 [==============================] - 0s 6ms/step - loss: 3.6680
Epoch 34/150
1/1 [==============================] - 0s 6ms/step - loss: 11.6216
Epoch 35/150
1/1 [==============================] - 0s 6ms/step - loss: 7.5390
Epoch 36/150
1/1 [==============================] - 0s 7ms/step - loss: 23.2906
Epoch 37/150
1/1 [==============================] - 0s 6ms/step - loss: 1.7601
Epoch 38/150
1/1 [==============================] - 0s 6ms/step - loss: 5.2653
Epoch 39/150
1/1 [==============================] - 0s 6ms/step - loss: 6.5036
Epoch 40/150
1/1 [==============================] - 0s 9ms/step - loss: 19.7079
Epoch 41/150
1/1 [==============================] - 0s 11ms/step - loss: 2.9506
Epoch 42/150
1/1 [==============================] - 0s 11ms/step - loss: 8.7434
Epoch 43/150
1/1 [==============================] - 0s 7ms/step - loss: 6.7802
Epoch 44/150
1/1 [==============================] - 0s 6ms/step - loss: 19.9756
Epoch 45/150
1/1 [==============================] - 0s 6ms/step - loss: 2.3493
Epoch 46/150
1/1 [==============================] - 0s 6ms/step - loss: 6.6840
Epoch 47/150
1/1 [==============================] - 0s 6ms/step - loss: 6.1869
Epoch 48/150
1/1 [==============================] - 0s 6ms/step - loss: 17.8177
Epoch 49/150
1/1 [==============================] - 0s 6ms/step - loss: 2.9139
Epoch 50/150
1/1 [==============================] - 0s 6ms/step - loss: 8.1375
Epoch 51/150
1/1 [==============================] - 0s 6ms/step - loss: 5.9052
Epoch 52/150
1/1 [==============================] - 0s 6ms/step - loss: 16.5978
Epoch 53/150
1/1 [==============================] - 0s 6ms/step - loss: 3.0577
Epoch 54/150
1/1 [==============================] - 0s 6ms/step - loss: 8.3245
Epoch 55/150
1/1 [==============================] - 0s 5ms/step - loss: 5.5191
Epoch 56/150
1/1 [==============================] - 0s 6ms/step - loss: 15.1438
Epoch 57/150
1/1 [==============================] - 0s 6ms/step - loss: 3.3123
Epoch 58/150
1/1 [==============================] - 0s 6ms/step - loss: 8.8211
Epoch 59/150
1/1 [==============================] - 0s 6ms/step - loss: 5.1248
Epoch 60/150
1/1 [==============================] - 0s 6ms/step - loss: 13.7252
Epoch 61/150
1/1 [==============================] - 0s 6ms/step - loss: 3.5440
Epoch 62/150
1/1 [==============================] - 0s 6ms/step - loss: 9.2431
Epoch 63/150
1/1 [==============================] - 0s 12ms/step - loss: 4.7437
Epoch 64/150
1/1 [==============================] - 0s 6ms/step - loss: 12.3987
Epoch 65/150
1/1 [==============================] - 0s 9ms/step - loss: 3.7233
Epoch 66/150
1/1 [==============================] - 0s 10ms/step - loss: 9.5169
Epoch 67/150
1/1 [==============================] - 0s 6ms/step - loss: 4.4053
Epoch 68/150
1/1 [==============================] - 0s 5ms/step - loss: 11.2394
Epoch 69/150
1/1 [==============================] - 0s 5ms/step - loss: 3.8245
Epoch 70/150
1/1 [==============================] - 0s 5ms/step - loss: 9.5851
Epoch 71/150
1/1 [==============================] - 0s 6ms/step - loss: 4.1348
Epoch 72/150
1/1 [==============================] - 0s 6ms/step - loss: 10.3069
Epoch 73/150
1/1 [==============================] - 0s 5ms/step - loss: 3.8426
Epoch 74/150
1/1 [==============================] - 0s 5ms/step - loss: 9.4453
Epoch 75/150
1/1 [==============================] - 0s 6ms/step - loss: 3.9368
Epoch 76/150
1/1 [==============================] - 0s 6ms/step - loss: 9.6026
Epoch 77/150
1/1 [==============================] - 0s 6ms/step - loss: 3.7973
Epoch 78/150
1/1 [==============================] - 0s 6ms/step - loss: 9.1578
Epoch 79/150
1/1 [==============================] - 0s 5ms/step - loss: 3.7937
Epoch 80/150
1/1 [==============================] - 0s 6ms/step - loss: 9.0699
Epoch 81/150
1/1 [==============================] - 0s 6ms/step - loss: 3.7182
Epoch 82/150
1/1 [==============================] - 0s 8ms/step - loss: 8.8030
Epoch 83/150
1/1 [==============================] - 0s 5ms/step - loss: 3.6814
Epoch 84/150
1/1 [==============================] - 0s 5ms/step - loss: 8.6397
Epoch 85/150
1/1 [==============================] - 0s 8ms/step - loss: 3.6278
Epoch 86/150
1/1 [==============================] - 0s 6ms/step - loss: 8.4388
Epoch 87/150
1/1 [==============================] - 0s 6ms/step - loss: 3.5836
Epoch 88/150
1/1 [==============================] - 0s 5ms/step - loss: 8.2659
Epoch 89/150
1/1 [==============================] - 0s 5ms/step - loss: 3.5370
Epoch 90/150
1/1 [==============================] - 0s 6ms/step - loss: 8.0915
Epoch 91/150
1/1 [==============================] - 0s 6ms/step - loss: 3.4930
Epoch 92/150
1/1 [==============================] - 0s 5ms/step - loss: 7.9273
Epoch 93/150
1/1 [==============================] - 0s 5ms/step - loss: 3.4496
Epoch 94/150
1/1 [==============================] - 0s 6ms/step - loss: 7.7683
Epoch 95/150
1/1 [==============================] - 0s 5ms/step - loss: 3.4074
Epoch 96/150
1/1 [==============================] - 0s 5ms/step - loss: 7.6158
Epoch 97/150
1/1 [==============================] - 0s 5ms/step - loss: 3.3661
Epoch 98/150
1/1 [==============================] - 0s 5ms/step - loss: 7.4690
Epoch 99/150
1/1 [==============================] - 0s 6ms/step - loss: 3.3259
Epoch 100/150
1/1 [==============================] - 0s 5ms/step - loss: 7.3276
Epoch 101/150
1/1 [==============================] - 0s 5ms/step - loss: 3.2866
Epoch 102/150
1/1 [==============================] - 0s 5ms/step - loss: 7.1914
Epoch 103/150
1/1 [==============================] - 0s 5ms/step - loss: 3.2482
Epoch 104/150
1/1 [==============================] - 0s 5ms/step - loss: 7.0602
Epoch 105/150
1/1 [==============================] - 0s 5ms/step - loss: 3.2107
Epoch 106/150
1/1 [==============================] - 0s 5ms/step - loss: 6.9336
Epoch 107/150
1/1 [==============================] - 0s 5ms/step - loss: 3.1741
Epoch 108/150
1/1 [==============================] - 0s 5ms/step - loss: 6.8115
Epoch 109/150
1/1 [==============================] - 0s 5ms/step - loss: 3.1383
Epoch 110/150
1/1 [==============================] - 0s 5ms/step - loss: 6.6936
Epoch 111/150
1/1 [==============================] - 0s 5ms/step - loss: 3.1032
Epoch 112/150
1/1 [==============================] - 0s 5ms/step - loss: 6.5797
Epoch 113/150
1/1 [==============================] - 0s 5ms/step - loss: 3.0690
Epoch 114/150
1/1 [==============================] - 0s 6ms/step - loss: 6.4695
Epoch 115/150
1/1 [==============================] - 0s 6ms/step - loss: 3.0355
Epoch 116/150
1/1 [==============================] - 0s 5ms/step - loss: 6.3630
Epoch 117/150
1/1 [==============================] - 0s 5ms/step - loss: 3.0027
Epoch 118/150
1/1 [==============================] - 0s 6ms/step - loss: 6.2599
Epoch 119/150
1/1 [==============================] - 0s 6ms/step - loss: 2.9706
Epoch 120/150
1/1 [==============================] - 0s 5ms/step - loss: 6.1601
Epoch 121/150
1/1 [==============================] - 0s 6ms/step - loss: 2.9392
Epoch 122/150
1/1 [==============================] - 0s 6ms/step - loss: 6.0634
Epoch 123/150
1/1 [==============================] - 0s 6ms/step - loss: 2.9084
Epoch 124/150
1/1 [==============================] - 0s 6ms/step - loss: 5.9696
Epoch 125/150
1/1 [==============================] - 0s 6ms/step - loss: 2.8782
Epoch 126/150
1/1 [==============================] - 0s 6ms/step - loss: 5.8786
Epoch 127/150
1/1 [==============================] - 0s 6ms/step - loss: 2.8486
Epoch 128/150
1/1 [==============================] - 0s 6ms/step - loss: 5.7904
Epoch 129/150
1/1 [==============================] - 0s 6ms/step - loss: 2.8196
Epoch 130/150
1/1 [==============================] - 0s 6ms/step - loss: 5.7046
Epoch 131/150
1/1 [==============================] - 0s 6ms/step - loss: 2.7912
Epoch 132/150
1/1 [==============================] - 0s 6ms/step - loss: 5.6213
Epoch 133/150
1/1 [==============================] - 0s 6ms/step - loss: 2.7633
Epoch 134/150
1/1 [==============================] - 0s 6ms/step - loss: 5.5403
Epoch 135/150
1/1 [==============================] - 0s 6ms/step - loss: 2.7359
Epoch 136/150
1/1 [==============================] - 0s 6ms/step - loss: 5.4615
Epoch 137/150
1/1 [==============================] - 0s 6ms/step - loss: 2.7091
Epoch 138/150
1/1 [==============================] - 0s 6ms/step - loss: 5.3849
Epoch 139/150
1/1 [==============================] - 0s 6ms/step - loss: 2.6827
Epoch 140/150
1/1 [==============================] - 0s 6ms/step - loss: 5.3102
Epoch 141/150
1/1 [==============================] - 0s 6ms/step - loss: 2.6568
Epoch 142/150
1/1 [==============================] - 0s 6ms/step - loss: 5.2375
Epoch 143/150
1/1 [==============================] - 0s 6ms/step - loss: 2.6313
Epoch 144/150
1/1 [==============================] - 0s 157ms/step - loss: 5.1665
Epoch 145/150
1/1 [==============================] - 0s 6ms/step - loss: 2.6063
Epoch 146/150
1/1 [==============================] - 0s 6ms/step - loss: 5.0974
Epoch 147/150
1/1 [==============================] - 0s 5ms/step - loss: 2.5817
Epoch 148/150
1/1 [==============================] - 0s 5ms/step - loss: 5.0299
Epoch 149/150
1/1 [==============================] - 0s 8ms/step - loss: 2.5575
Epoch 150/150
1/1 [==============================] - 0s 5ms/step - loss: 4.9640

In [ ]:
print(model.predict([10.0]))

1/1 [==============================] - 0s 65ms/step
[[24.896038]]

## Membuat Model untuk Klasifikasi Dua Kelas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/Dicoding py')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dicoding py/citrus.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [ ]:
df.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

In [ ]:
df.name[df.name == 'orange'] = 0
df.name[df.name == 'grapefruit'] = 1

<ipython-input-21-e9c3e7476411>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.name[df.name == 'orange'] = 0
<ipython-input-21-e9c3e7476411>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.name[df.name == 'grapefruit'] = 1

In [ ]:
dataset = df.values

In [ ]:
X = dataset[:,1:6]

In [ ]:
y = dataset[:,0]

In [ ]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.        , 0.        , 0.74025974, 0.63529412, 0.        ],
       [0.07042254, 0.00738197, 0.66233766, 0.55294118, 0.01851852],
       [0.10822832, 0.04812589, 0.53246753, 0.58823529, 0.        ],
       ...,
       [0.93624907, 0.97133047, 0.68831169, 0.6       , 0.33333333],
       [0.96071164, 0.99216023, 0.35064935, 0.48235294, 0.16666667],
       [1.        , 1.        , 0.48051948, 0.50588235, 0.        ]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, y, test_size=0.3)

In [ ]:
import numpy as np

Y_train = Y_train.astype(np.float32)
Y_test = Y_test.astype(np.float32)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential([    
                    Dense(32, activation='relu', input_shape=(5,)),    
                    Dense(32, activation='relu'),    
                    Dense(1, activation='sigmoid'),])

In [ ]:
model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.fit(X_train, Y_train, epochs=10)

Epoch 1/10
219/219 [==============================] - 1s 2ms/step - loss: 0.6629 - accuracy: 0.7746
Epoch 2/10
219/219 [==============================] - 0s 2ms/step - loss: 0.5960 - accuracy: 0.9087
Epoch 3/10
219/219 [==============================] - 0s 2ms/step - loss: 0.5197 - accuracy: 0.9177
Epoch 4/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4253 - accuracy: 0.9239
Epoch 5/10
219/219 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.9247
Epoch 6/10
219/219 [==============================] - 0s 2ms/step - loss: 0.2768 - accuracy: 0.9239
Epoch 7/10
219/219 [==============================] - 0s 2ms/step - loss: 0.2407 - accuracy: 0.9249
Epoch 8/10
219/219 [==============================] - 0s 2ms/step - loss: 0.2196 - accuracy: 0.9257
Epoch 9/10
219/219 [==============================] - 0s 2ms/step - loss: 0.2071 - accuracy: 0.9246
Epoch 10/10
219/219 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9259

In [ ]:
model.evaluate(X_test, Y_test)

94/94 [==============================] - 0s 1ms/step - loss: 0.1841 - accuracy: 0.9320

[0.18411985039710999, 0.9319999814033508]

## Membuat dan Melatih Model untuk Klasifikasi Banyak Kelas

In [1]:
# import library yang akan digunakan
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [2]:
# berfungsi untuk memanggil dataset dari gdrive
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/Dicoding py')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dicoding py/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df = df.drop(columns='Id')

In [6]:
category = pd.get_dummies(df.Species)
category

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [7]:
new_df = pd.concat([df, category], axis=1)
new_df = new_df.drop(columns='Species')
new_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [8]:
dataset = new_df.values
dataset

array([[5.1, 3.5, 1.4, ..., 1. , 0. , 0. ],
       [4.9, 3. , 1.4, ..., 1. , 0. , 0. ],
       [4.7, 3.2, 1.3, ..., 1. , 0. , 0. ],
       ...,
       [6.5, 3. , 5.2, ..., 0. , 0. , 1. ],
       [6.2, 3.4, 5.4, ..., 0. , 0. , 1. ],
       [5.9, 3. , 5.1, ..., 0. , 0. , 1. ]])

In [9]:
# m3milih 4 kolom pertama untuk dijadikan sebagai atribut
X = dataset[:,0:4]
# memilih 3 kolom terakhir sebagai label
y = dataset[:,4:7]

In [10]:
# normalize
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667],
       [0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [0.08333333, 0.58333333, 0.06779661, 0.08333333],
       [0.19444444, 0.58333333, 0.08474576, 0.04166667],
       [0.02777778, 0.375     , 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.30555556, 0.70833333, 0.08474576, 0.04166667],
       [0.13888889, 0.58333333, 0.10169492, 0.04166667],
       [0.13888889, 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.41666667, 0.83333333, 0.03389831, 0.04166667],
       [0.38888889, 1.        , 0.08474576, 0.125     ],
       [0.30555556, 0.79166667, 0.05084746, 0.125     ],
       [0.22222222, 0.625     , 0.06779661, 0.08333333],
       [0.38888889, 0.75      , 0.11864407, 0.08333333],
       [0.22222222, 0.75      , 0.08474576, 0.08333333],
       [0.30555556, 0.58333333, 0.11864407, 0.04166667],
       [0.22222222, 0.70833333, 0.08474576, 0.125     ],
       [0.08333333, 0.66666667, 0.        , 0.04166667],
       [0.22222222, 0.54166667, 0.11864407, 0.16666667],
       [0.13888889, 0.58333333, 0.15254237, 0.04166667],
       [0.19444444, 0.41666667, 0.10169492, 0.04166667],
       [0.19444444, 0.58333333, 0.10169492, 0.125     ],
       [0.25      , 0.625     , 0.08474576, 0.04166667],
       [0.25      , 0.58333333, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.10169492, 0.04166667],
       [0.13888889, 0.45833333, 0.10169492, 0.04166667],
       [0.30555556, 0.58333333, 0.08474576, 0.125     ],
       [0.25      , 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.19444444, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.02777778, 0.41666667, 0.05084746, 0.04166667],
       [0.22222222, 0.58333333, 0.08474576, 0.04166667],
       [0.19444444, 0.625     , 0.05084746, 0.08333333],
       [0.05555556, 0.125     , 0.05084746, 0.08333333],
       [0.02777778, 0.5       , 0.05084746, 0.04166667],
       [0.19444444, 0.625     , 0.10169492, 0.20833333],
       [0.22222222, 0.75      , 0.15254237, 0.125     ],
       [0.13888889, 0.41666667, 0.06779661, 0.08333333],
       [0.22222222, 0.75      , 0.10169492, 0.04166667],
       [0.08333333, 0.5       , 0.06779661, 0.04166667],
       [0.27777778, 0.70833333, 0.08474576, 0.04166667],
       [0.19444444, 0.54166667, 0.06779661, 0.04166667],
       [0.75      , 0.5       , 0.62711864, 0.54166667],
       [0.58333333, 0.5       , 0.59322034, 0.58333333],
       [0.72222222, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [0.38888889, 0.33333333, 0.59322034, 0.5       ],
       [0.55555556, 0.54166667, 0.62711864, 0.625     ],
       [0.16666667, 0.16666667, 0.38983051, 0.375     ],
       [0.63888889, 0.375     , 0.61016949, 0.5       ],
       [0.25      , 0.29166667, 0.49152542, 0.54166667],
       [0.19444444, 0.        , 0.42372881, 0.375     ],
       [0.44444444, 0.41666667, 0.54237288, 0.58333333],
       [0.47222222, 0.08333333, 0.50847458, 0.375     ],
       [0.5       , 0.375     , 0.62711864, 0.54166667],
       [0.36111111, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.36111111, 0.41666667, 0.59322034, 0.58333333],
       [0.41666667, 0.29166667, 0.52542373, 0.375     ],
       [0.52777778, 0.08333333, 0.59322034, 0.58333333],
       [0.36111111, 0.20833333, 0.49152542, 0.41666667],
       [0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [0.5       , 0.33333333, 0.50847458, 0.5       ],
       [0.55555556, 0.20833333, 0.66101695, 0.58333333],
       [0.5       , 0.33333333, 0.62711864, 0.45833333],
       [0.58333333, 0.375     , 0.55932203, 0.5       ],
       [0.63888889, 0.41666667, 0.57627119, 0.54166667],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.47222222, 0.375     , 0.59322034, 0.58333333],
       [0.38888889, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.41666667, 0.29166667, 0.49152542, 0.45833333],
       [0.47222222, 0.29166667, 0.69491525, 0.625     ],
       [0.30555556, 0.41666667, 0.59322034, 0.58333333],
       [0.47222222, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.55555556, 0.125     , 0.57627119, 0.5       ],
       [0.36111111, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.5       , 0.41666667, 0.61016949, 0.54166667],
       [0.41666667, 0.25      , 0.50847458, 0.45833333],
       [0.19444444, 0.125     , 0.38983051, 0.375     ],
       [0.36111111, 0.29166667, 0.54237288, 0.5       ],
       [0.38888889, 0.41666667, 0.54237288, 0.45833333],
       [0.38888889, 0.375     , 0.54237288, 0.5       ],
       [0.52777778, 0.375     , 0.55932203, 0.5       ],
       [0.22222222, 0.20833333, 0.33898305, 0.41666667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [0.55555556, 0.54166667, 0.84745763, 1.        ],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.77777778, 0.41666667, 0.83050847, 0.83333333],
       [0.55555556, 0.375     , 0.77966102, 0.70833333],
       [0.61111111, 0.41666667, 0.81355932, 0.875     ],
       [0.91666667, 0.41666667, 0.94915254, 0.83333333],
       [0.16666667, 0.20833333, 0.59322034, 0.66666667],
       [0.83333333, 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [0.80555556, 0.66666667, 0.86440678, 1.        ],
       [0.61111111, 0.5       , 0.69491525, 0.79166667],
       [0.58333333, 0.29166667, 0.72881356, 0.75      ],
       [0.69444444, 0.41666667, 0.76271186, 0.83333333],
       [0.38888889, 0.20833333, 0.6779661 , 0.79166667],
       [0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [0.58333333, 0.5       , 0.72881356, 0.91666667],
       [0.61111111, 0.41666667, 0.76271186, 0.70833333],
       [0.94444444, 0.75      , 0.96610169, 0.875     ],
       [0.94444444, 0.25      , 1.        , 0.91666667],
       [0.47222222, 0.08333333, 0.6779661 , 0.58333333],
       [0.72222222, 0.5       , 0.79661017, 0.91666667],
       [0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.94444444, 0.33333333, 0.96610169, 0.79166667],
       [0.55555556, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [0.80555556, 0.5       , 0.84745763, 0.70833333],
       [0.52777778, 0.33333333, 0.6440678 , 0.70833333],
       [0.5       , 0.41666667, 0.66101695, 0.70833333],
       [0.58333333, 0.33333333, 0.77966102, 0.83333333],
       [0.80555556, 0.41666667, 0.81355932, 0.625     ],
       [0.86111111, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.58333333, 0.33333333, 0.77966102, 0.875     ],
       [0.55555556, 0.33333333, 0.69491525, 0.58333333],
       [0.5       , 0.25      , 0.77966102, 0.54166667],
       [0.94444444, 0.41666667, 0.86440678, 0.91666667],
       [0.55555556, 0.58333333, 0.77966102, 0.95833333],
       [0.58333333, 0.45833333, 0.76271186, 0.70833333],
       [0.47222222, 0.41666667, 0.6440678 , 0.70833333],
       [0.72222222, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.72222222, 0.45833333, 0.69491525, 0.91666667],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.69444444, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.55555556, 0.20833333, 0.6779661 , 0.75      ],
       [0.61111111, 0.41666667, 0.71186441, 0.79166667],
       [0.52777778, 0.58333333, 0.74576271, 0.91666667],
       [0.44444444, 0.41666667, 0.69491525, 0.70833333]])

In [11]:
X_train, X_test, Y_test, Y_train = train_test_split(X_scale, y, test_size=0.3)

In [17]:
model = Sequential([    
                    Dense(64, activation='relu', input_shape=(4,)),    
                    Dense(64, activation='relu'),    
                    Dense(3, activation='sigmoid'),])

In [18]:
model.compile(optimizer='Adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [21]:
hist = model.fit(X_train, Y_train, epochs=100)

ValueError: ignored