<a href="https://colab.research.google.com/github/kurrnia/Dicoding/blob/main/sub1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# berfungsi untuk memanggil dataset dari gdrive
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/Dicoding py')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [68]:
# import pandas
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dicoding py/indonesia-news.csv')
df

,Unnamed: 0,date,title,category
0,0,02/26/2020,Kemnaker Awasi TKA di Meikarta,finance
1,1,02/26/2020,BNI Digitalkan BNI Java Jazz 2020,finance
2,2,02/26/2020,"Terbang ke Australia, Edhy Prabowo Mau Genjot ...",finance
3,3,02/26/2020,OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...,finance
4,4,02/26/2020,Saran Buat Anies-RK yang Mangkir Rapat Banjir ...,finance
...,...,...,...,...
91012,91012,02/03/2020,"Ketumpahan Air Panas di Pesawat, Kamu Bisa Tun...",travel
91013,91013,02/03/2020,Foto: Bali & 9 Destinasi Paling Instagramable ...,travel
91014,91014,02/03/2020,Game Bikin Turis Ini Liburan ke Jepang untuk.....,travel
91015,91015,02/03/2020,"Sekeluarga Didepak dari Pesawat, Maskapai Bila...",travel
91016,91016,02/03/2020,"Kapal Raib di Segitiga Bermuda, Nyaris Seabad ...",travel

In [43]:
df = df.drop(columns='Unnamed: 0')

In [69]:
kategori = pd.get_dummies(df.category)
newest_dataset = pd.concat([df, kategori], axis=1)
newest_dataset = newest_dataset.drop(columns='category')
newest_dataset

,date,title,finance,food,health,hot,inet,news,oto,sport,travel
0,02/26/2020,Kemnaker Awasi TKA di Meikarta,1,0,0,0,0,0,0,0,0
1,02/26/2020,BNI Digitalkan BNI Java Jazz 2020,1,0,0,0,0,0,0,0,0
2,02/26/2020,"Terbang ke Australia, Edhy Prabowo Mau Genjot ...",1,0,0,0,0,0,0,0,0
3,02/26/2020,OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...,1,0,0,0,0,0,0,0,0
4,02/26/2020,Saran Buat Anies-RK yang Mangkir Rapat Banjir ...,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
91012,02/03/2020,"Ketumpahan Air Panas di Pesawat, Kamu Bisa Tun...",0,0,0,0,0,0,0,0,1
91013,02/03/2020,Foto: Bali & 9 Destinasi Paling Instagramable ...,0,0,0,0,0,0,0,0,1
91014,02/03/2020,Game Bikin Turis Ini Liburan ke Jepang untuk.....,0,0,0,0,0,0,0,0,1
91015,02/03/2020,"Sekeluarga Didepak dari Pesawat, Maskapai Bila...",0,0,0,0,0,0,0,0,1
91016,02/03/2020,"Kapal Raib di Segitiga Bermuda, Nyaris Seabad ...",0,0,0,0,0,0,0,0,1

In [70]:
indonesia_news = newest_dataset['date'].values + '' + newest_dataset['title'].values
indonesia_berita = newest_dataset[['finance',	'food',	'health',	'hot',	'inet',	'news',	'oto',	'sport',	'travel']].values

In [71]:
indonesia_news

array(['02/26/2020Kemnaker Awasi TKA di Meikarta',
       '02/26/2020BNI Digitalkan BNI Java Jazz 2020',
       '02/26/2020Terbang ke Australia, Edhy Prabowo Mau Genjot Budi Daya Lobster',
       ...,
       '02/03/2020Game Bikin Turis Ini Liburan ke Jepang untuk... Cari Yakuza!',
       '02/03/2020Sekeluarga Didepak dari Pesawat, Maskapai Bilang Bau Badan',
       '02/03/2020Kapal Raib di Segitiga Bermuda, Nyaris Seabad Baru Ketemu'],
      dtype=object)

In [47]:
indonesia_berita

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], dtype=uint8)

In [72]:
indonesia_news_train, indonesia_news_test, indonesia_berita_train, indonesia_berita_test = train_test_split(indonesia_news, indonesia_berita, test_size=0.2)

In [73]:
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(indonesia_news_train) 
tokenizer.fit_on_texts(indonesia_news_test)
 
sekuens_train = tokenizer.texts_to_sequences(indonesia_news_train)
sekuens_test = tokenizer.texts_to_sequences(indonesia_news_test)
 
padded_train = pad_sequences(sekuens_train, maxlen=20) 
padded_test = pad_sequences(sekuens_test, maxlen=20)

In [78]:
model = tf.keras.Sequential([
     tf.keras.layers.Embedding(input_dim=5000, output_dim=64),
     tf.keras.layers.BatchNormalization(),
     tf.keras.layers.LSTM(128),
     tf.keras.layers.Dense(128, activation='relu'),
     tf.keras.layers.Dropout(0.5),
     tf.keras.layers.Dense(5, activation='softmax')
     ])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['acc'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, None, 64)          320000

 batch_normalization_2 (Batc  (None, None, 64)         256
 hNormalization)

 lstm_2 (LSTM)               (None, 128)               98816

 dense_4 (Dense)             (None, 128)               16512

 dropout_2 (Dropout)         (None, 128)               0

 dense_5 (Dense)             (None, 5)                 645

=================================================================
Total params: 436,229
Trainable params: 436,101
Non-trainable params: 128
_________________________________________________________________

In [79]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('acc')>0.80):
      print("\nAkurasinya > 80%!")
      self.model.stop_training = True
callbacks = myCallback()

In [80]:
history = model.fit(padded_train, indonesia_berita_train, epochs=50, 
                    validation_data=(padded_test, indonesia_berita_test), verbose=2, callbacks=[callbacks], validation_steps=30)

Epoch 1/50

ValueError: ignored