<a href="https://colab.research.google.com/github/kurrnia/Dicoding/blob/main/sub1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# berfungsi untuk memanggil dataset dari gdrive
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/Dicoding py')

Mounted at /content/drive

In [2]:
# import pandas
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dicoding py/Iris.csv', sep='\t')
df

    Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                        1,5.1,3.5,1.4,0.2,Iris-setosa
1                        2,4.9,3.0,1.4,0.2,Iris-setosa
2                        3,4.7,3.2,1.3,0.2,Iris-setosa
3                        4,4.6,3.1,1.5,0.2,Iris-setosa
4                        5,5.0,3.6,1.4,0.2,Iris-setosa
..                                                 ...
145                 146,6.7,3.0,5.2,2.3,Iris-virginica
146                 147,6.3,2.5,5.0,1.9,Iris-virginica
147                 148,6.5,3.0,5.2,2.0,Iris-virginica
148                 149,6.2,3.4,5.4,2.3,Iris-virginica
149                 150,5.9,3.0,5.1,1.8,Iris-virginica

[150 rows x 1 columns]